#select_quantity {
  width: 50px;
}

#select_item {
  width: 225px;
}

.vertical-spacer {
  height: 20px;
  width: 100%;
  vertical-align: middle;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
